body {
    margin: 0;
    padding: 0;
    min-width: 900px;
    min-height: 100%;
    font-size: 14px;
    color: #162134;
    background: transparent;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif; // font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif!important;
}


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

.golden {
    color: #ffd04b;
}

li {
    list-style: none;
}

#routerMain .content-main {
    float: left;
    min-height: 600px;
    height: 100%;
    width: 830px;
    margin-left: 10px;
    padding: 0px 10px 10px;
    background-color: #572f5f;
}

.el-tabs__header {
    margin: 0px; 
}

#subnav{ 
    width: 240px;
    margin: 10px 0px;
    height: 20px;
}
  #subnav ul{ 
    width: 240px; padding:0; margin:0 auto; list-style-type:none; font-size: 12px;
  }
  #subnav ul li{ 
    float: left;
    border-left: 1px solid #ffd04b;
  }
  #subnav ul li:first-child {border-left: 0px solid #fff;}
  #subnav ul li a{ 
    display: block;
    padding: 0px 5.5px;
    height: 20px;
    line-height: 20px;
    color: #ffd04b;
    text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.6);
  }

.el-aside, .el-main {
    overflow: -webkit-paged-y;
}

#submenu {

    .el-menu--horizontal {
      background-color: rgb(60, 37, 109);
      border-bottom: solid 0px #ffd04b;
    }

    .el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
      border-bottom: 0px solid #6C3092;
    }

    .el-menu-item.is-active {
      background-size: 100% 100%;
      color: #ffea00;
      cursor: default;
      border-bottom: 0px solid #6c3092;
    }

    .el-menu-item,.el-submenu {
      padding: 0 8.5px;
    }

    .el-header {
      padding: 0px;
    }

    .el-menu--horizontal>.el-menu-item, .el-menu--horizontal>.el-submenu {
        float: left;
        height: 20px;
        line-height: 20px;
        margin: 0;
        border-bottom: 0px solid transparent; 
        color: #909399;
    }

    .el-menu--horizontal>.el-submenu .el-submenu__title {
        height: 20px;
        line-height: 20px;
        border-bottom: 0px solid transparent;
    }

    .el-submenu__title {
        font-size: 12px;
        padding: 0 0px;
    }

    .el-menu--horizontal > .el-menu-item, .el-menu--horizontal > .el-submenu {
        font-size: 12px;
    }

}

#submenu{ 
    width: 830px;
    margin: 10px 0px;
    height: 20px;
}
#submenu ul{ 
    padding:0; margin:0 auto; list-style-type:none; font-size: 12px;
}
#submenu ul li{ 
    float: left;
    border-left: 1px solid #ffd04b;
}
#submenu ul li:first-child {
    border-left: 0px solid #fff;
}
#submenu ul li a{ 
    display: block;
    padding: 0px 5.5px;
    height: 20px;
    line-height: 20px;
    color: #ffd04b;
    text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.6);
}

.title-content div {
    display: inline-block;
    vertical-align: top;
}

.title-content {
    padding: 8px 0;
    border-radius: 8px;
    height: 50px;
    border: 1px solid #ccb0da;
    background-color: #ccb0da;

    .wanfaBtn {
        float: left;
        margin: 10px 20px;
    }

    .winCurrent {
        float: left;
        margin: 11px 20px;
        font-size: 18px;
        color: #fff;
    }

    .kaipangTime{
        float: left;
        margin: 5px 100px;
        padding: 0px 50px;
        color: #fbf1e7;
        border-left: 2px solid #8a7f96;
    }

    .qiciSpan {
        color: #ffd04b;
        margin: 0px 4px;
    }
}



